.searchBar{
    color:whitesmoke;
    font-family: 'Segoe UI';
    background-color: transparent;
    border-width: 0ch;
    border-color: transparent;
    border-radius: 2px;
}

.searchButton{
    color:whitesmoke;
    font-family: 'Segoe UI';
    background-color: transparent;
    border-width: 0ch;
    border-color: transparent;
    border-radius: 2px;
}